* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-family: 'Exo', sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.title h2 {
    font-size: 2rem;    
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}   

.underline {
    flex-direction: column;
    max-width: 80px;
    margin: 0 auto;
    margin-bottom: 2.6rem;
    padding: 0;
    border: 2px solid #dcdde1;
}

.review {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 18px 0 #dcdde1;
    border-radius: 10px;
}

#person-img {
    height: 80%;
    width: 80%;
    position: relative;
    
}

#author {
    font-size: .9rem;    
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 5px;
}


.button-container {
    min-height: 50px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    display: inline-block;
}

.prev-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 0 4px;
    cursor: pointer;
    display: inline-block;
}

.next-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin: 0 4px;
    cursor: pointer;
    display: inline-block;
}


.random-btn {
    display: block;
    padding: 3px 8px;
    color: white;
    font-size: .6rem;
    font-weight: 200;
    background-color: #ced6e0;
    border: 2px solid ;
    border-radius: 6px;
    margin-top: 5px;
    transition: .3s ease; 
    transition-property: background-color, color;
    cursor: pointer;
}

.random-btn:hover {
    color: white;
    background-color: black;
}